.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerimg {
  padding-top: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-top: 10px;
}
hr {
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 40px 0 60px;
  width: 100%;
}
h1 {
  font-size: 18px;
}
.date {
  font-size: 10px;
}
.bt {
  font-size: 10px;
  align-self: flex-end;
  color: blue;
}
.text {
  font-size: 12px;
}
