.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.headerimg {
  padding-top: 20px;
}
.menu {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-top: 10px;
}
span.Nevmore {
  color: #c63942;
}
hr {
  width: 100%;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
article {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin: 0px 0 40px;
  width: 100%;
}
.dailyTitle {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  line-height: 1;
  line-height: 22px;
  padding: 10px 0 0px 0px;
  margin: 0;
}
.date {
  font-size: 12px;
  color: #737373;
  padding-bottom: 10px;
  font-family: Verdana, 宋体, Helvetica, sans-serif;
}
.bt {
  font-size: 10px;
  align-self: flex-end;
  color: #c63942;
}
.text {
  font-size: 14px;
}
.bigpage > a {
  padding-top: 20px;
  padding-bottom: 30px;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 37px;
  position: relative;
  text-decoration: none;
  color: #7f7f7f;
  font-size: 14px;
  margin: 0 5px;
}
